.fourth-sector{
    @include flexCenter(column);
    gap: 15px;
    margin: $margin-top-bottom;
    overflow: hidden;

    .fourth-sector-imgs{
        @include flexCenter(row);
        gap: 15px;
    }

    img{
        height: 300px;
    }
}