

.nav-title{
    width: 100%;
    margin: 15px 0;
 display: flex;
 align-items: center;
 justify-content: flex-end;
    nav{
        @include flexCenter(row);
        gap: 40px;
        margin: 0 15px;
    }
    a{
    text-decoration: none;
    color: black;
    }

    .nav-hamburguer{
        height: auto;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    border-radius: 5px;
    display: none
    };

    .nav-hamburguer > div {
       border: 2px solid black;
       border-radius: 5px;
        width: 100%;
        
    }
}

@media screen and (max-width: 480px) {
    .nav-title{ 
        nav {
        display: none;
    }

    .nav-hamburguer{
        display: flex;
        margin-right: 10px;
    }
}


}