

.secondsector{
    @include flexCenter(column);
    margin: 30px 0;
    gap: 15px;

    .second-sector-imgs{
      @include flexCenter(row);
      flex-wrap: wrap;
      gap: 10px;
      width: auto;
      max-width: 925px;
    }

    .second-sector-item{
        position: relative;
    }

    img{
        height: 179px;
        width: 300px;  
        border-radius: 10px
};

    .second-sector-text{
        position: absolute;
        bottom: 10px;
        left: 10px;
    }
}

