.third-sector{
    height: 225px;
    background-color: $second-background-color;
    gap: 80px;
    margin: $margin-top-bottom;
    @include flexCenter(column);
    overflow: hidden;

    .third-sector-parent{
        @include flexCenter(row);
        width: auto;
        max-width: 850px;
        gap: 60px;
    }
    .third-sector-item{
        @include flexCenter(row);
        gap: 15px;
        width: 32%;
    }
    p{
        font-size: 12px;
    }


@media screen and (max-width: 480px) {
    height: auto;

    .third-sector-parent{
        flex-direction: column;
        margin: 25px 30px;
        gap: 40px;
    }

    .third-sector-item{
       
        width: auto;
    }
}

}