$second-background-color: #F7EEE3;
$margin-top-bottom: 30px 0;

@mixin flexCenter($dir,) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $dir;
   };
   
@mixin button{
    height: 40px;
    width: 150px;
    background-color: #FCED70;
    border: none;
    border-radius: 5px;
}